:root{
    --bs-font-sans-serif: system-ui,-apple-system,'Microsoft JhengHei', 微軟正黑體,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.bg-cover{
    background-position: center center;
    background-size: cover;
}
.sticky-top{
    top:16px;
}